<div class="text-white mt-3 ps-3">
    <h3>{{data}}</h3>
</div>
<h1 class="text-center mt-5 p-5" style="color: white;">Sign In</h1>
<form style="background-color: rgb(240, 248,255, 0.385);border-radius: 20px;" action="" class="mt-2 p-3 w-50 container text-center border">
    <div class=" ">
        <input (change)="acnoChange($event)" id="u1" name="uname" class="form-control mt-2 p-2" type="text" [placeholder]="data1">
    </div>
    <div class="p-2 mt-2">
        <input (change)="passChange($event)" id="p1" name="password" class="form-control mt-2 p-2" type="password" placeholder="enter your password">
    </div>
    <button (click)="login()" class="btn btn-danger mt-4 p-2 ">login</button>
</form>
